*{
    margin: 0; 
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 20, 47);
}
 .container:hover{
    transform: rotateY(-180deg);
}
section{
    perspective: 1000px;
}
.container{
    position:relative ;
    width: 300px;
    height: 400px;
    margin-top: 90px;
    transition: 1s;
    transform-style: preserve-3d;
}
.card{
    height: 100%;
    width: 100%;
       border: 4px solid black;
       position: absolute;
       backface-visibility: hidden;
       box-shadow: 2px 6px 60px blueviolet;
}
.front{
    background-image: url(https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100% 100%;
}
.back{
    background: linear-gradient(90deg, rgb(171, 191, 171),rgb(140, 140, 223));
    transform: rotateY(180deg);
   
}
.back img{
    position: relative;
    display: block;
    height: 130px;
    width: 130px;
    margin: auto;
    top:60px;
    border-radius: 50%;
    
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.back h3{
    text-align: center;
    margin-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(38, 41, 44);

}

.back h4{
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(38, 41, 44);
    
}
.back button{
    display: block;
    padding:5px 10px ;
    background-color: rgb(183, 155, 209);
    color:black;
    border:2px solid black;
    border-radius: 12px;
    font-size: 17px;
    margin:auto;
    margin-top: 10px;
    cursor: pointer ;
}
.back button:hover{
 box-shadow: 0px 0px 50px blueviolet;
}