@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#home {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100%;
    height: 18vh;
    position: sticky;
    top: 0;
}

.nav1 {
    width: 100%;
    height: 70%;
    background-color: rgb(6, 6, 113);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2 {
    width: 100%;
    height: 30%;
    background-color: white;
}

.nav2 ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    gap: 50px;

}

.nav2 ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav2 ul li a:hover {
    color: gray;
}

.leftnav {
    width: 50%;
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightnav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bottom {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loc {
    width: 1em;
    height: 1em;
}

.findus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 100%;
    color: white;
    margin-right: 15px;
}

.input input {
    width: 12em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toll {
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.num {
    color: rgb(145, 72, 72);
    font-size: 15px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: 100% 100%;
    position: relative;
}

.bg {
    background-color: rgba(0, 0, 0, 0.601);
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.mainbox {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fspan {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sspan {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tspan {
    display: flex;
    height: 8%;
    width: 45%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    background-color: rgb(179, 171, 171);
    border: 2px solid gray;
    background-color: rgb(243, 241, 241);
}

.continent,
.bugget,
.country {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.continent select,
.bugget select,
.country select {
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgba(243, 241, 241, 0.568);
}

.find {
    width: 100%;
    height: 100%;
    background-color: rgb(242, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}