*{
  margin: 0;
  padding: 0; 
}  
.main{
background-image: url("bg.png");
background-position: center center;
height: 80vh;
background-size:max(1300px ,100vw);
background-repeat: no-repeat;
position: relative;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color:black;
    position:absolute;
    top: 0;
}
nav{
  height: 62px;
  display: flex;
  margin: auto;
  max-width: 80vw;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
nav svg{
  color: red;
  position: relative;
  z-index: 10;
}
nav button{
  position: relative;
  z-index: 10; 
  border-radius: 3px;
  color: white;
  
}
nav button:first-child{
  background-color: black;
}
nav button:nth-child(2){
  background-color: red;
}
.text1{
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.text1 :first-child{
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 10;
}
.text1 :nth-child(3){
font-size: 20px;
position: relative;
z-index: 10;

}

.text2{
 font-size: 18px;
position: relative;
z-index: 10;
color: white;
text-align: center;
justify-content: center;
align-items: center;
}
.text2 ::placeholder{
 
 margin: 20px;
 padding: 20px;
 color: rgb(27, 11, 11);

}

